.base-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  outline: none;
  padding: 0;
  text-align: center;
  border: 1px solid transparent;
}

.base-button:disabled {
  cursor: not-allowed;
}

.base-button:active:not(:disabled) {
  scale: 0.97;
}

.base-button--disabled {
  opacity: 0.25;
}

.base-button--full-width {
  width: 100%;
}

.base-button--sm {
  padding: 14px;
  font-size: 13px;
  border-radius: 20px;
}

.base-button--lg {
  padding: 16px;
  font-size: 15px;
  border-radius: 24px;
}

.base-button--primary.base-button--contained {
  background-color: var(--color-main-purple);
  color: var(--color-white);
}

.base-button--primary.base-button--contained:hover:not(:disabled) {
  background-color: var(--color-main-purple-hover);
}

.base-button--primary.base-button--text,
.base-button--primary.base-button--outlined {
  background-color: transparent;
  color: var(--color-main-purple);
}

.base-button--primary.base-button--text:hover:not(:disabled),
.base-button--primary.base-button--outlined:hover:not(:disabled) {
  background-color: var(--color-main-purple-hover);
  color: var(--color-white);
}

.base-button--primary.base-button--outlined {
  border-color: var(--color-main-purple);
}

.base-button--secondary.base-button--contained {
  background-color: var(--color-main-purple-o-10);
  color: var(--color-main-purple);
}

.base-button--secondary.base-button--contained:hover:not(:disabled) {
  background-color: var(--color-main-purple-o-25);
}

.base-button--secondary.base-button--text,
.base-button--secondary.base-button--outlined {
  background-color: transparent;
  color: var(--color-main-purple);
}

.base-button--secondary.base-button--text:hover:not(:disabled),
.base-button--secondary.base-button--outlined:hover:not(:disabled) {
  background-color: var(--color-main-purple-o-25);
}

.base-button--secondary.base-button--outlined {
  border-color: var(--color-main-purple);
}

.base-button--destructive.base-button--contained {
  background-color: var(--color-red);
  color: var(--color-white);
}

.base-button--destructive.base-button--contained:hover:not(:disabled) {
  background-color: var(--color-red-hover);
}

.base-button--destructive.base-button--text,
.base-button--destructive.base-button--outlined {
  background-color: transparent;
  color: var(--color-red);
}

.base-button--destructive.base-button--text:hover:not(:disabled),
.base-button--destructive.base-button--outlined:hover:not(:disabled) {
  background-color: var(--color-red-hover);
  color: var(--color-white);
}

.base-button--destructive.base-button--outlined {
  border-color: var(--color-red);
}

.base-button__loader {
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
